.title {
    margin-top: 20px;
    /* border: 1px solid green; */
    padding: 0 20px;
    /* box-shadow: 0px 2px 10px #000000; */
    font-size: 25px;
    color: #4074f7;
    text-shadow: 2px 2px #ffffff;
    /* background-color: #4074f7; */
    background-color: #F8F8F8;
    opacity: 0.6;
    display: inline-block;

}

/* .title h3 {
    display: inline-block;
    background-color: #F8F8F8;
    opacity: 0.6;
} */